/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap");
:root {
  --main-color: #000000;
  --light-color: #00abb3;
  --text-color: #df556f;
  --shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
    rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
    rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
  --font-family: "Encode Sans Expanded", sans-serif;
  --rating-color: #ffc908;
  --background: url("../src/assets/images/bg.jpeg");
}

body {
  font-family: var(--font-family) !important;
  background: var(--background);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 100vh;
}
.bg-main {
  background: var(--main-color);
  color: var(--light-color);
}
.text {
  color: var(--light-color);
}
.title {
  color: var(--text-color);
}
.btn {
  border: 2px solid var(--light-color);
  /* background: var(--light-color); */
  color: var(--text-color);
  font-size: larger;
}
.btn:hover {
  transform: scale(0.96) !important ;
  background-color: var(--text-color);
  color: wheat;
  font-size: larger;
}
.info {
  color: var(--text-color);
}
.border {
  border: 1px solid var(--rating-color);
  border-radius: 30px;
}
.msgBorder {
  border: 3px solid var(--light-color);
  border-radius: 30px;
}
.input {
  height: 3em;
}
.inputMsg {
  height: 5em;
  width: 100%;
}
.user {
  font-weight: bolder;
  color: #000000;
}
.msg {
  color: #000000;
  font-size: 1.2rem;
}
.time {
  float: right;
  color: brown;
}
.bg-main {
  background-color: aliceblue;
}
